<header>
  <div class="logo-wrapper">
    <img src="assets/images/img.png">
    <div class="logo-wrapper-pseudo"></div>
  </div>
  <div class="menu-wrapper" appConditionalMenu>
    <div class="menu-toggle menu-title">Menu</div>
    <a class="menu-child" data-menu="#home" [routerLink]="'/Request'" style="--width: 100px; width: 0px;">My Requests</a>
    <a class="menu-child" data-menu="#home" (click)="logout()" style="--width: 100px; width: 0px;">Logout</a>
    <!--    <a class="menu-child" data-menu="#services" href="#" style="&#45;&#45;width: 66px; width: 0px;">Services</a>-->
    <!--    <a class="menu-child" data-menu="#portfolios" href="#" style="&#45;&#45;width: 74px; width: 0px;">Portfolios</a>-->
    <!--    <a class="menu-child" data-menu="#contact" href="#" style="&#45;&#45;width: 64px; width: 0px;">Contact</a>-->
    <div class="menu-toggle menu-burger">
      <div class="menu-burger-line"></div>
    </div>
    <div class="menu-wrapper-pseudo"></div>
  </div>
</header>
