<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="main-container">
  <app-navbar *ngIf="!isAdminRoute"></app-navbar>
  <div class="toastClassName toast-notification toast-show" *ngIf="isShow">
    <div class="toast-content">
      <div class="alert-icon"></div>
      <div class="toast-message-content">
        <div class="toast-title">Please check your credentials</div>
      </div>
      <div class="close-icon"> <a href="#"></a></div>
    </div>
  </div>
  <router-outlet />
</div>

