:root {
  --white: #fff;
  --dark: #101010;
  --orange: rgba(223, 68, 24, 1);
  --color2: #002b45;
  --dark_transition: 0.4s;
}

body {
  margin: 0;
  background: rgba(223, 68, 24, 0.05);
}

body {
  width: 100%;
  display: block;
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8d8d8d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.8);
}

::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 10px;
}

::selection {
  color: #fff;
  background: #e75800;
}

::selection {
  color: #fff;
  background: #e75800;
}

h1, h2, h3, h4, h5, h6, div, p, a, span {
  font-family: "neulis-sans", sans-serif;
}

@import "../node_modules/ngx-spinner/animations/square-jelly-box";
@import 'ngx-toastr/toastr';

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-4 {
  gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}

